<ul class="nav nav-pills">
    <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link" aria-current="page">Home</NavLink></li>
    <li class="nav-item"><NavLink href="/DataSource" class="nav-link">Sources</NavLink></li>
    <li class="nav-item"><NavLink href="/DataValue" class="nav-link">Values</NavLink></li>
</ul>